.container 
{
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.5
}

body
{
    background-color: #ffcc99;
    padding: 26px 0;
    font-family: verdana, geneva, tahoma, sans-serif;
    color: #ffcc99;
}

h1,
h2,
h3,
li 
{
    font-size: 24px;
    text-align: center;
    padding: 12px 0;
    color: #ffcc99;
}

h3,
li 
{
    background-color: #cc6600;
    margin-bottom: 26px;
    font-size: 20px;
}

li
{
    border: 2px dashed #663300;
}

h1
{
    font-weight: bold;
    color: #663300;   
}
h3
{
    text-align: left;
}

section
{
    background-color: #999966;
    border: 2px  dashed #663300;
    margin-bottom: 26px;
}

section header
{
    background-color: #cc6600;
    border: 2px dashed #663300;
    margin: 26px 26px;
    width: 900px;
}

.section-One-columns,
.section-two-columns
{
    display: flex;
    flex-wrap: wrap;
}

.section-One-firstrow
{
    /*
        2  x 6 box borders = 12
        2  x 2 section border = 4
        26 x 4 spacing = 104
        12 x 6 padding = 72
        104 + 12 + 4 + 72 = 192 
        960 - 192 = 768 /3 = 256px
    */
    width: 256px;
    margin-left: 26px;
    background-color: #cc6600;
    border: 2px  dashed #663300;
    margin-bottom: 26px;
    padding: 12px 12px;
}
.section-One-secondrow
{
        /*
        2  x 6 box borders = 12
        2  x 2 section border = 4
        26 x 4 spacing = 104
        12 x 6 padding = 72
        104 + 12 + 4 + 72 = 192 
        960 - 192 = 768 /3 = 256px
    */
    width: 256px;
    margin-left: 26px;
    background-color: #cc6600;
    border: 2px  dashed #663300;
    margin-bottom: 26px;
    padding: 12px 12px;
}
.box-right
{
    margin-right: 26px;
}
.section-two-firstrow
{
    /*
        2  x 4 borderbox = 8
        2  x 2 bordersection = 4
        26 x 3 spacing     = 78
        4 x 12 padding    = 48
        ========================
                            138
        960 - 138 = 822/2 = 411px
    */
    width: 411px;
    margin-left: 26px;
    background-color: #cc6600;
    border: 2px  dashed #663300;
    margin-bottom: 26px;
    padding: 12px 12px;
}
.section-two-secondrow
{
    /*
        2  x 4 borderbox = 8
        2  x 2 bordersection = 4
        26 x 3 spacing     = 78
        4 x 12 padding    = 48
        ========================
                            138
        960 - 138 = 822/2 = 411px
    */
    width: 411px;
    margin-left: 26px;
    background-color: #cc6600;
    border: 2px  dashed #663300;
    margin-bottom: 26px;
    padding: 12px 12px;
}

nav ul
{

    display: flex;
}

    /*  
    2 x 6 border from earlier li element = 12px 
    13 x 2 margin for nav li             = 26px  
    total border + margin = 12+ 26 = 38px
    960 - 38 = 922/ 3 = 307.3333
    */

nav ul li
{
    width: 307.3333px;
    margin-left: 26px;
}
.left-right
{
    margin: 0 0 25px 0;
}